<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LunchTime.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ILunchTime" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://nydevkhsql01.federation.local/LunchTime/LunchTime.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILunchTime"
                contract="LunchTimeService.ILunchTime" name="WSHttpBinding_ILunchTime">
                <identity>
                    <servicePrincipalName value="host/NYDEVKHSQL01.federation.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <userSettings>
        <LunchTime.Client.Properties.Settings>
            <setting name="LocationX" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="LocationY" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>650</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="SelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </LunchTime.Client.Properties.Settings>
    </userSettings>
</configuration>